header {
	display: none !important;
}

#adara-header {
	top: 0px;
	left: 0px;
	background: url("../images/SDN_Visualizer_Banner.jpg") no-repeat center left;
	height: 135px;
	box-shadow: 0px 5px 5px #888888;
}

canvas {
	/* border: 1px solid black; */
	/* height: 800px !important;
	width: 1000px !important; */
}

body {
	margin: 0 auto;
}

#wrapper {
	float: left;
	width: 100%; 
	border-bottom: 1px solid;
	margin: 0 auto;
}

#lhs {
	/* width: 70%; */
	float: left;
	margin: 0 auto;
}

#rhs {
	min-width: 410px;
	float: right;
	border-left: 1px solid;
	min-height: 804px;
}

#links {
	text-align: center;
}


#links a {
	border-left: 1px solid;
	padding-left: 4px;
}


