header {
	display: none !important;
}

#adara-header {
	top: 0px;
	left: 0px;
	background: url("../images/SDN_Visualizer_Banner.jpg") no-repeat center left;
	height: 135px;
	box-shadow: 0px 5px 5px #888888;
}

canvas {
	/* border: 1px solid black; */
	/* height: 800px !important;
	width: 1000px !important; */
}

body {
	margin: 0 auto;
}

#wrapper {
	width: 73%; 
	margin: 0 auto;
}

#links {
	text-align: center;
}